{% load static %}

<!DOCTYPE html>

<head>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <script src="{% static 'js/script.js'%} "></script>
    <header>
        <h1>Endereços</h1>
    </header>
    <main>
        {% block content%}{% endblock%}
    </main>
    
</body>
</html>